body {
    color: blue;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(purple, white, black);
    background-size: cover;
    position: relative;
    padding: 0vh;
    margin: 0vh;

}

.dbz {
    background-image: url(/media/landingpagecover.png);
    background-size: cover;
  background-size: auto;
}



.super1 {

    color: deeppink;
    text-align: center;
}

.super2 {

    color: darkviolet;
    text-align: center;
}

h1 {
    color: yellow;
    text-align: center;
}

h2 {
    color: yellow;
    text-align: center;

}

h3 {

    color: yellow;
    text-align: center;
}

img {

    display: block;
    margin-right: 0%;
    margin-left: 0%;
}

iframe {

    display: block;
    margin-left: 50%;
    margin-right: 50%;
    width: 560px;
    margin: auto;

}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.align {

    display: block;
    margin-left: 50%;
    margin-right: 50%;
}

p {

    color: rgb(255, 0, 0);
}

.p {
    color: yellow;
}