h1 {
    color: yellow;
    text-align: center;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .container img {
    width: 100%;
    height: auto;
  }
  
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .container .btn:hover {
    background-color: black;
    color: white;
  }

  body {
    color: blue;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(blue, white, orange);
    background-size: cover;
    position: relative;
    padding: 0vh;
    margin: 0vh;

}

.dbz {
    background-image: url(/media/newkamehouse.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;

}


.super1 {

    color: deeppink;
    text-align: center;
}

.super2 {

    color: darkviolet;
    text-align: center;
}

h1 {
    color: yellow;
    text-align: center;
}

h2 {
    color: yellow;
    text-align: center;

}

h3 {

    color: yellow;
    text-align: center;
}

img {

    display: block;
    margin-right: 0%;
    margin-left: 0%;
}

iframe {

    display: block;
    margin-left: 50%;
    margin-right: 50%;
    width: 560px;
    margin: auto;

}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.align {

    display: block;
    margin-left: 50%;
    margin-right: 50%;
}

p {

    color: rgb(255, 0, 0);
}

.p {
    color: yellow;
}

.hovername {
    
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    
  }

  .two_columns {
      display: flex;
      justify-content: center;
  }
 

.socials {

    display: flex;
    justify-content: center;
    
}

.pagelocate {
    color: lawngreen;
    float: left;
}

.ss32{
    padding-left: 5vh;
}

.ss31{
    padding-right: 5vh;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .container img {
    width: 100%;
    height: auto;
  }

  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  